<div class="passphrase">
    <h3>Please enter your passphrase.</h3>
    <h4>Note that passphrase is case-sensitive.</h4>
    <div>
        <input
            type="password"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            data-lpignore="true"
            tabindex="1" />
    </div>
    <div class="passphrase_options">
        <label>
            <input type="checkbox" class="show_passphrase" tabindex="2" />
            <span>Show passphrase</span>
        </label>
        <label>
            <input type="checkbox" class="save_passphrase" tabindex="3" checked />
            <span>Save passphrase for future use</span>
        </label>
    </div>
    <div>
        <button type="button" class="submit" tabindex="4">Enter</button>
    </div>
</div>
