<div class="pin">
    <h3>Please enter your PIN.</h3>
    <h4>Look at the device for number positions.</h4>
    <div class="pin_row">
        <button type="button" data-value="7">&#8226;</button>
        <button type="button" data-value="8">&#8226;</button>
        <button type="button" data-value="9">&#8226;</button>
    </div>
    <div class="pin_row">
        <button type="button" data-value="4">&#8226;</button>
        <button type="button" data-value="5">&#8226;</button>
        <button type="button" data-value="6">&#8226;</button>
    </div>
    <div class="pin_row">
        <button type="button" data-value="1">&#8226;</button>
        <button type="button" data-value="2">&#8226;</button>
        <button type="button" data-value="3">&#8226;</button>
    </div>
    <div class="pin_input_row">
        <input type="password" class="input" autocomplete="off" maxlength="9" disabled />
        <button type="button" class="pin_backspace">&#9003;</button>
    </div>
    <div><button class="submit" type="button">Enter</button></div>
</div>
