header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    figure {
        width: 126px;
        height: 35px;
        margin: 0;
        vertical-align: top;
    }

    aside {
        text-align: right;
        vertical-align: top;
        .icon {
            width: auto;
            height: 35px;
            display: none;

            img {
                width: auto;
                height: 100%;
            }
        }

        .operation {

        }

        .origin {
            font-size: 14px;
            color: @color_secondary_text;
        }
    }
}
