<div class="row">
    <label>Coin:</label>
    <select id="coin">
        <option>Bitcoin</option>
        <option>Bitcoin Cash</option>
        <option>Litecoin</option>
        <option>Dash</option>
        <option>Zcash</option>
        <option selected>Testnet</option>
    </select>
</div>
<div class="output-group">
    <div class="output-row regular">

        <div class="close"></div>

        <div class="row">
            <label>Output type</label>
            <label class="custom-checkbox align-left radio">
                Regular
                <input type="radio" name="output-type" value="regular" checked />
                <span class="indicator"></span>
            </label>
            <label class="custom-checkbox align-left radio">
                OP_RETURN
                <input type="radio" name="output-type" value="opreturn" />
                <span class="indicator"></span>
            </label>
        </div>

        <div class="output-regular">
            <div class="row">
                <label>Address</label>
                <input type="text" class="address" value="2Mu6MwbU4eLdDbRL8fio2oyEfxfv4MKn7Rw" />
            </div>
            <div class="row">
                <label>Amount</label>
                <input type="text" class="amount small" value="10000" />
                <label class="custom-checkbox align-left">
                    Send max
                    <input type="checkbox" class="send_max" />
                    <span class="indicator"></span>
                </label>
            </div>
        </div>

        <div class="output-opreturn">
            <label>Data</label>
            <textarea class="op_return_data"></textarea>
            <label class="custom-checkbox align-left">
                Data in Hex format
                <input type="checkbox" class="op_return_hexdata" />
                <span class="indicator"></span>
            </label>
        </div>

    </div>
</div>

<div class="row">
    <label class="custom-checkbox">
        Locktime
        <input type="checkbox" class="locktime-checkbox" />
        <span class="indicator"></span>
    </label>
    <input type="text" class="locktime small" value="0" disabled />
</div>

<div class="row">
    <label class="custom-checkbox">
        Push
        <input type="checkbox" id="push" />
        <span class="indicator"></span>
    </label>
    <button id="composeTransaction">Compose transaction</button>
    <button id="addOutput">Add recipient</button>
</div>


<script type="text/javascript">

    var composeButton = document.getElementById('composeTransaction');
    composeButton.onclick = onButtonClick;

    var newOutputHTML = document.querySelector('.output-row').innerHTML;

    var addOutputButton = document.getElementById('addOutput');
    addOutputButton.onclick = function() {
        var group = document.querySelectorAll('.output-row');
        var newOutput = document.createElement('div');
        newOutput.className = 'output-row regular';
        newOutput.innerHTML = newOutputHTML;
        group[group.length-1].parentNode.insertBefore(newOutput, group[group.length-1].nextSibling);

        initOutputs();
    }

    var locktimeCheckbox = document.querySelector('.locktime-checkbox');
    var locktimeInput = document.querySelector('.locktime');
    locktimeCheckbox.onclick = function() {
        locktimeInput.disabled = !locktimeCheckbox.checked;
    }

    function initOutputs() {
        var group = document.querySelectorAll('.output-row');
        for (var i = 0; i < group.length; i++) {
            var sendMaxCheckbox = group[i].querySelector('.send_max');
            var addressInput = group[i].querySelector('.address');
            var amountInput = group[i].querySelector('.amount');
            var amountInput = group[i].querySelector('.amount');

            var outputType = group[i].querySelectorAll('input[type=radio]');
            var outputTypeName = 'output-type-' + i;

            outputType.forEach(function(r) {
                r.name = outputTypeName;
                r.onclick = handleOutputTypeChange;
                r.container = group[i];
            });

            function handleOutputTypeChange(event) {
                var row = event.currentTarget.container;
                //var value = row.querySelector('input[name=' + event.currentTarget.name + ']:checked').value;
                row.className = 'output-row ' + event.currentTarget.value;
            }

            sendMaxCheckbox.input = amountInput;
            sendMaxCheckbox.onclick = function(event) {
                event.currentTarget.input.disabled = event.currentTarget.checked;
            }

            var close = group[i].querySelector('.close');
            close.container = group[i];
            close.onclick = function(event) {
                event.currentTarget.container.remove();
                initOutputs();
            }
        }
    }

    initOutputs();

    function onButtonClick(){

        var coin = document.getElementById('coin').value;
        var push = document.getElementById('push').checked;

        var params = {
            selectedDevice: window.selectedDevice,
            coin: coin,
            push: push,
        };

        if (locktimeCheckbox.checked) {
            params.locktime = locktimeInput.value;
        }

        var outputs = [];
        var group = document.querySelectorAll('.output-row');
        for (var i = 0; i < group.length; i++) {

            var outputType = group[i].querySelector('input[type=radio]:checked').value;

            if (outputType === 'opreturn') {
                var dataInput = group[i].querySelector('.op_return_data');
                var dataFormatCheckbox = group[i].querySelector('.op_return_hexdata');
                outputs.push({
                    type: 'opreturn',
                    data: dataInput.value,
                    dataFormat: dataFormatCheckbox.checked ? 'hex' : 'text'
                });
            } else {
                var sendMaxCheckbox = group[i].querySelector('.send_max');
                var addressInput = group[i].querySelector('.address');
                if (sendMaxCheckbox.checked) {
                    outputs.push({
                        address: addressInput.value,
                        type: 'send-max'
                    })
                } else {
                    var amountInput = group[i].querySelector('.amount');
                    outputs.push({
                        address: addressInput.value,
                        amount: amountInput.value
                    })
                }
            }

        }
        params.outputs = outputs;

        TrezorConnect.composeTransaction(params).then(handleResponse);
    }
</script>

<pre>
TrezorConnect.composeTransaction({
    outputs: [
        {
            address: address,
            amount: amount,
        },
    ],
    coin: coin,
    //push: true
})
</pre>
