<div class="row">
    <label>Coin:</label>
    <select id="coin">
        <option>Bitcoin</option>
        <option>Bitcoin Cash</option>
        <option>Litecoin</option>
        <option>Dash</option>
        <option>Zcash</option>
        <option selected>Testnet</option>
    </select>
</div>

<div class="row">
    <label>Use</label>
    <label class="custom-checkbox align-left radio">
        path
        <input type="radio" name="method-type" value="path" checked />
        <span class="indicator"></span>
    </label>
    <label class="custom-checkbox align-left radio">
        account id
        <input type="radio" name="method-type" value="account" />
        <span class="indicator"></span>
    </label>
    <label class="custom-checkbox align-left radio">
        discovery
        <input type="radio" name="method-type" value="discovery" />
        <span class="indicator"></span>
    </label>
</div>

<div class="type-path">
    <div class="row">
        <label>Path</label>
        <input type="text" id="path" class="small" value="m/49'/0'/0'" />
    </div>
</div>

<div class="type-account" style="display: none;">
    <div class="row">
        <label>Account</label>
        <select id="account">
            <option>Account #1</option>
            <option>Account #2</option>
            <option>Account #3</option>
            <option>Account #4</option>
            <option>Account #5</option>
            <option>Account #6</option>
            <option>Account #7</option>
            <option>Account #8</option>
            <option>Account #9</option>
            <option>Account #10</option>
        </select>
        <label class="custom-checkbox align-left">
            Legacy account
            <input type="checkbox" id="legacy" />
            <span class="indicator"></span>
        </label>
    </div>
</div>

<div class="row confirmation">
    <label></label>
    <label class="custom-checkbox align-left">
        Confirmation
        <input type="checkbox" id="confirmation" checked />
        <span class="indicator"></span>
    </label>
</div>

<div class="row">
    <label></label>
    <button id="getPublicKey">Get public key account ID</button>
</div>



<script type="text/javascript">

    var defaultPaths = {
        "Bitcoin":       "m/49'/0'/0'",
        "Bitcoin Cash":  "m/44'/145'/0'",
        "Litecoin":      "m/49'/2'/0'",
        "Dogecoin":      "m/44'/3'/0'",
        "Dash":          "m/44'/5'/0'",
        "Zcash":         "m/44'/133'/0'",
        "Testnet":       "m/49'/1'/0'",
        "Namecoin":      "m/44'/7'/0'",
    }
    var pathButton = document.getElementById('getPublicKey');
    pathButton.onclick = onButtonClick;

    var coinSelect = document.getElementById('coin');
    var accountSelect = document.getElementById('account');
    var pathInput = document.getElementById('path');
    var confirmationCheckbox = document.getElementById('confirmation');
    var legacyCheckbox = document.getElementById('legacy');
    pathInput.value = defaultPaths[coinSelect.value];


    var methodTypeRadios = document.querySelectorAll('input[name=method-type]');
    methodTypeRadios.forEach(function(r) {
        r.onclick = function() {
            document.querySelector('.type-path').style.display = 'none';
            document.querySelector('.type-account').style.display = 'none';
            if (r.value !== 'discovery') {
                document.querySelector('.type-' + r.value).style.display = 'block';
                document.querySelector('.confirmation').style.display = 'block';
            } else {
                document.querySelector('.confirmation').style.display = 'none';
            }
        }
    });

    coinSelect.onchange = function() {
        pathInput.value = defaultPaths[coinSelect.value];
        legacyCheckbox.disabled = (pathInput.value.indexOf('49') < 0);
    }

    function onButtonClick(event){
        var path = pathInput.value;
        var coin = coinSelect.value;
        var confirmation = confirmationCheckbox.checked;
        var methodType = document.querySelector('input[name=method-type]:checked').value;

        var params = {
            selectedDevice: window.selectedDevice,
            coin
        };

        if (methodType === 'path') {
            params.path = path;
        } else if(methodType === 'account') {
            params.account = accountSelect.selectedIndex;
            if (!legacyCheckbox.disabled && legacyCheckbox.checked)
                params.accountLegacy = legacyCheckbox.checked;
        }

        if (!confirmation)
            params.confirmation = confirmation;

        // if (!discovery) {
        //     if (event.currentTarget.id === 'getPublicKey-path') {
        //         params.path = path;
        //     } else {
        //         params.account = accountSelect.selectedIndex;
        //         if (!legacyCheckbox.disabled && legacyCheckbox.checked)
        //             params.accountLegacy = legacyCheckbox.checked;
        //     }
        //     if (!confirmation)
        //         params.confirmation = confirmation;
        // }
        // params.coin = coin;


        TrezorConnect.getPublicKey(params).then(handleResponse);



        // TrezorConnect.getPublicKey({
        //     //selectedDevice: _selectedDevice,

        //     account: 0,
        //     //accountLegacy: true,

        //     //path: "m/48'/0'/0'",
        //     //path: [44, 2, 20],
        //     //path: [48, 0, 0], // multisig
        //     //path: [45342, 44, 0, 0], // CopayId legacy
        //     //path: [45342, 49, 0, 0], // CopayId segwit
        //     //path: [45342, 48, 0, 0], // CopayId multisig
        //     //path: [44 | 0x80000000, 1 | 0x80000000, 4 | 0x80000000 ],

        //     //confirmation: false,

        //     coin: coin,
        //     //coin: 'ltc'
        // })
        // .then(handleResponse);
    }

    window.showSourceCode = function() {
        console.log("SHOW!!!");
    }
</script>

<pre style="display: none;">
TrezorConnect.composeTransaction({
    outputs: [
        {
            address: address,
            amount: amount,
        },
    ],
    coin: coin,
    //push: true
})
</pre>
